#*.class
*.log
*.jar
*.war
*.ear
target/
*.zip
*.bat
build/
out/
.gradle/
.idea/
*.iml
.settings/
.classpath
.project
bin/
.DS_Store
HELP.md
.DS_Store
Thumbs.db

.idea/
.vscode/
*.code-workspace

build/
build-*/
CMakeFiles/
CMakeCache.txt
cmake-*
CMakeScripts/
Makefile
CMakeCache
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
_deps/
*.cmake
!CMakeLists.txt

build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

PieceTableTest*
gtest*

*.user
build.ninja
.ninja_deps
.ninja_log

*.user
*.user.*
*.pro.user
*.qbs.user
*.qmlc
*.qt
*.jsc
*.rcc

*.log
*.out

*.exe
*.dll
*.so
*.dylib
*.app

/shelf/
/httpRequests/
/dataSources/
/dataSources.local.xml
