# ===================== #
# OS-Specific
# ===================== #
.DS_Store
Thumbs.db

# ===================== #
# IDEs & Editors
# ===================== #
.idea/
.vscode/
*.code-workspace

# ===================== #
# Build Artifacts
# ===================== #
build/
build-*/
CMakeFiles/
CMakeCache.txt
cmake-*
CMakeScripts/
Makefile
CMakeCache
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
_deps/
*.cmake
!CMakeLists.txt

build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

PieceTableTest*
gtest*

*.user
build.ninja
.ninja_deps
.ninja_log

# ===================== #
# Qt
# ===================== #
*.user
*.user.*
*.pro.user
*.qbs.user
*.qmlc
*.qt
*.jsc
*.rcc

# ===================== #
# Logs / Debug
# ===================== #
*.log
*.out

# ===================== #
# Binaries
# ===================== #
*.exe
*.dll
*.so
*.dylib
*.app

# ===================== #
# Other
# ===================== #
/shelf/
/httpRequests/
/dataSources/
/dataSources.local.xml
