<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title layout:title-pattern="$CONTENT_TITLE"></title>
</head>
<body class="bg-neutral-800 text-yellow-300 font-sans min-h-screen flex flex-col">

<header class="bg-neutral-900 p-6 shadow-md text-center border-b border-neutral-700">
    <h1 class="text-3xl font-bold tracking-wide text-yellow-300">Java Code Formatter</h1>
</header>

<main layout:fragment="content" class="flex-grow container mx-auto p-6 mt-4">
</main>
</body>
</html>